@{
    ViewData["Title"] = "Projects";
    
}

<h1>Projects</h1>
<a href="https://github.com/gyaru/csharp-course/tree/main/calculator">
    <p>A simple calculator in C#</p>
</a>
<a href="https://github.com/gyaru/csharp-course/tree/main/hangman">
    <p>A simple hangman game with simple console graphics.</p>
</a>
<a href="https://github.com/gyaru/csharp-course/tree/main/sokoban">
    <p>Sokoban in your browser!</p>
</a>