@model IEnumerable<mvc_identity.Models.PersonLanguage>

@{
    ViewData["Title"] = "Index";
}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Languages</h1>
    <a asp-action="Create" asp-controller="PersonLanguage">
        <button type="button" class="btn btn-primary">Add language to user</button>
    </a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Language</th>
        </tr>
        </thead>
        <tbody>
        @foreach (PersonLanguage item in Model)
        {
            <tr>
                <td>
                    @item.Person.Name
                </td>

                <td>
                    @item.Language.LanguageName
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.PersonId" title="Delete" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>