@model List<Person>
@section Scripts
{
<script type="text/javascript" src="@Url.Content("~/js/script.js")" xmlns="http://www.w3.org/1999/html"></script>
}
@{
    ViewData["Title"] = "People";
}
<div class="modal fade" id="detailsModal" tabindex="-1" style="display:none">
</div>
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">People</h1>
    <input type="text" name="text" id="searchId"/>
    <button id="lookUp" type="button" class="btn btn-primary">
      Lookup
    </button>
    <button id="refresh" class="btn btn-info">Refresh</button>
    <a asp-action="Create" asp-controller="People"><button type="submit" class="btn btn-primary">Create</button></a>
    <br/>
    <br/>
    <table id="peopleTable" class="table table-striped">
        <div id="peopleTableSpinner" class="spinner-border m-5" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </table>
</div>